<main id="application" class="ui container">
  <h1 style="margin-top: 2rem;" class="ui center aligned header">ValidPlus Development</h1>

  <div id="app"></div>
</main>
<script src="/vp-development.js"></script>
